
@{
    ViewBag.Title = "Index";
}
<style>
    .row {
        text-align: center;
    }

    .p {
        font-size: large;
    }
</style>

<h2>Panel Sterowania</h2>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col col-xs-6">
                <a href="~/Users_tbl/Index">
                    <img src="~/images/users.png" class="img-circle" width="130" height="130">
                </a>
                <p>Użytkownicy</p>
            </div>
            <div class="col col-xs-6" style="align-content:center;">
                <a href="~/Customers_tbl/Index">
                    <img src="~/images/customer.png" class="img-circle" width="130" height="130">
                </a>
                <p>Klienci</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-xs-6">
                <a href="~/Vehicles_tbl/Index">
                    <img src="~/images/vehicles.png" class="img-circle" width="130" height="130">
                </a>
                <p>Pojazdy</p>
            </div>
            <div class="col col-xs-6">
                <a href="~/Parts_tbl/Index">
                    <img src="~/images/parts.png" class="img-circle" width="130" height="130">
                </a>
                <p>Części zamienne</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <a href="~/Repairs_tbl/Index">
                    <img src="~/images/repairs.png" class="img-circle" width="130" height="130">
                </a>
                <p>Naprawy</p>
            </div>
        </div>
    </div>
</div>